html {
  font-size: 16px;
}

body {
  min-width: 280px;
  min-height: 350px;
  overflow-x: hidden;
}
.wrapper {
  height: 100%;
  overflow-y: auto;
}

h3 {
  font-size: 15px;
  margin: 0 0 3px;
  padding: 3px 0 0;
  border-top: solid 1px #999;
}
p {
  font-size: 13px;
  margin: 0 0 3px;
}
strong {
  display: block;
}

.main {
  padding: 20px 0 0;
}

.lines {
  padding: 0;
  list-style: none;
}

.toggle-btn {
  font-size: 13px;
  border: none;
  padding: 0;
  background: none;
  text-align: left;
  width: 100%;
  transition: background 0.3s;
}
.toggle-btn:hover,
.toggle-btn:focus {
  cursor: pointer;
  outline: none;
  background-color: #e6e6e6;
}

.popupclosebtn {
  background: url(images/close.png);
  background-size: contain;
  border: none;
  cursor: pointer;
  float: right;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 5px;
}

.line {
  width: 140px;
  display: inline-block;
  padding: 2px 2px 2px 3px;
  vertical-align: top;
  transition: opacity 0.3s;
}
.details {
  font-size: 11px;
  display: block;
  margin: 0 0 7px;
  padding: 2px 3px 0;
}
.details p {
  font-size: 11px;
  display: block;
  margin: 0 0 7px;
  padding: 5px 0 0;
}
.off .line {
  opacity: 0.3;
}
.off:hover .line {
  opacity: 1;
}
.off .details,
.off .status {
  display: none;
}
.status,
.message {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 2px 5px 0;
  box-sizing: border-box;
}
.status-item {
  display: block;
}
.message {
  display: none;
}
.off .message {
  display: inline-block;
  opacity: 0.2;
  transition: opacity 0.1s;
}
.off:hover .message {
  opacity: 1;
}
.toggleBtn {
  cursor: pointer;
}
.toggle {
  background: url(images/tick-on.png) no-repeat 0 0;
  background-size: contain;
  text-indent: -9999px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 2px;
}
.toggle-btn:hover .toggle,
.toggleBtn:hover .toggle {
  background: url(images/close.png) no-repeat 0 0;
  background-size: contain;
}
.off .toggle,
.off:hover .toggle {
  background: none;
}
.off .toggle-btn:hover .toggle,
.off .toggleBtn:hover .toggle {
  background: url(images/tick.png) no-repeat 0 0;
  background-size: contain;
}
.update-message button {
  display: block;
  margin: 5px 0;
  text-transform: uppercase;
  cursor: pointer;
}
.update-message.hidden {
  display: none;
}
.last-update {
  padding-bottom: 3px;
  font-size: 10.5px;
}
.update-error {
  color: #f00;
  display: block;
}
/* line colours */
.bakerloo .line {
  background-color: #b36305;
  color: #fff;
}
.central .line {
  background-color: #e32017;
  color: #fff;
}
.circle .line {
  background-color: #ffd300;
  color: #113892;
}
.district .line {
  background-color: #00782a;
  color: #fff;
}
.hammersmith-and-city .line {
  background-color: #f3a9bb;
  color: #113b92;
}
.jubilee .line {
  background-color: #a0a5a9;
  color: #fff;
}
.metropolitan .line {
  background-color: #9b0056;
  color: #fff;
}
.northern .line {
  background-color: #000000;
  color: #fff;
}
.piccadilly .line {
  background-color: #003688;
  color: #fff;
}
.victoria .line {
  background-color: #0098d4;
  color: #fff;
}
.waterloo-and-city .line {
  background-color: #95cdba;
  color: #113b92;
}
.london-overground .line {
  background-color: #ee7c0e;
  color: #fff;
}
.dlr .line {
  background-color: #00a4a7;
  color: #fff;
}
.tfl-rail .line {
  background-color: #0019a8;
  color: #fff;
}
.tram .line {
  background-color: #6c0;
  color: #fff;
}
